<app-update-ticket></app-update-ticket>
<p>sign up</p>
<h3><app-signup></app-signup></h3>
<p>add failure</p>
<h3><app-add-failure></app-add-failure></h3>
<p>add equipment</p>
<h2><app-add-equipment></app-add-equipment></h2>
<p>chart</p>
<h2><app-chart></app-chart></h2>
<p>loug out</p>
<h2><app-logout></app-logout></h2>
<p>show equipment</p>
<app-show-equipment></app-show-equipment>
<p>show technician</p>
<h3><app-show-technician></app-show-technician></h3>
<p>show user</p>
<h3><app-show-user></app-show-user></h3>
<p>qll ticket</p>
<app-all-ticket></app-all-ticket>
