.one{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content{
    background-color: #eaeaea;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:flex-start
}
.table{
    margin-top: 74px;
    width: 80%;
    border: 2px solid rgb(14, 235, 3);
    background-color: #eaeaea;

}
.btn{
    border: 1px;
    background-color: red;
}