<app-nav></app-nav>
<div class="container">
  <div class="wrapper">

<form [formGroup]="formTicket" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <textarea id="description" formControlName="description" placeholder="enter description" ></textarea>
    </div>
  
    <label for="ticketStatus">ticketStatus:</label>
    <select id="ticketStatus" formControlName="ticketStatus"  required>
      <option value="IN_PROGRESS">IN_PROGRESS</option>
      <option value="PROBLEM_NOT_FIXED">PROBLEME_NOT_FIXED</option>
      <option value="PROBLEM_FIXED">PROBLEM_FIXED</option>
    </select>
    <div class="form-group">
      <label for="equipmentId">Equipment:</label><br>
      <select id="equipmentId" formControlName="equipmentId" required>
          <option *ngFor="let equipment of equipmentList" [value]="equipment.equipmentId">
              {{ equipment.name }}
          </option>
      </select>
  </div>

    <div class="form-group">
      <label for="failureId">Failure:</label><br>
      <select id="failureId" formControlName="failureId" required>
          <option *ngFor="let failure of failureList" [value]="failure.failureId">
              {{ failure.failureType }}
          </option>
      </select>
  </div>

    <button type="submit" class="btn btn-primary" [disabled]="formTicket.invalid">Add Ticket</button>
  </form>

</div>
</div>

  

    