<div class="side">
     <ul>
    <li class="component" [routerLink]="['/signup']">Add new Person</li>
    <li class="component" [routerLink]="['/addEquipment']">Add Equipment</li>
    <li class="component" [routerLink]="['/addFailure']">Add Failure</li>
    <li class="component" [routerLink]="['/showUser']">Show User</li>
    <li class="component" [routerLink]="['/showTechnician']">Show Technician</li>
    <li class="component" [routerLink]="['/showEquipment']">Show Equipment</li>
    <li class="component" [routerLink]="['/allTicket']">All Tikets</li>
    <li class="component" id="log" ><app-logout></app-logout></li>
    </ul>
</div>