
.side{
    background-color: rgb(28, 185, 59);
    width: 299px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component{
    margin-right: 32px;
    color: white;
    padding: 10px 20px;
    background-color: green;
    
    width: 100%;
    margin-top: 11px;
    border-bottom: 3px solid white;
}


ul{
    text-decoration: none;
    color: whitesmoke;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}