.one{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.content{
    background-color: #eaeaea;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 0%;
    background-color: #eaeaea;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    background-color:rgb(255, 255, 255);

width: 44%;
height: 63vh;
display: flex;
justify-content: center;
align-items: center;

}

form{
    width: 60%;
    height: 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

select,textarea,input{
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid rgb(37, 246, 4);


}


button{
    margin-top: 20px;
}
textarea{
    height: 64px; 
}